In [42]:
import pandas as pd
import numpy as np

In [45]:
# Loading in US_CPI_monthly_Jan1913_to_Jan2021.csv to a Pandas DataFrame
cpi_df = pd.read_csv('US_CPI_monthly_Jan1913_to_Jan2021.csv')
cpi_df

         Yearmon      CPI
0     01-01-1913    9.800
1     01-02-1913    9.800
2     01-03-1913    9.800
3     01-04-1913    9.800
4     01-05-1913    9.700
...          ...      ...
1296  01-01-2021  261.582
1297  01-02-2021  263.014
1298  01-03-2021  264.877
1299  01-04-2021  267.054
1300  01-05-2021  269.195

[1301 rows x 2 columns]

In [46]:
# Renaming 'Yearmon' column to 'Date'
cpi_df = cpi_df.rename(columns = {'Yearmon':'Date'})
cpi_df

            Date      CPI
0     01-01-1913    9.800
1     01-02-1913    9.800
2     01-03-1913    9.800
3     01-04-1913    9.800
4     01-05-1913    9.700
...          ...      ...
1296  01-01-2021  261.582
1297  01-02-2021  263.014
1298  01-03-2021  264.877
1299  01-04-2021  267.054
1300  01-05-2021  269.195

[1301 rows x 2 columns]

In [47]:
#Flipping Date format to match 'yyyy-mm-dd'
cpi_df['Date'] = cpi_df['Date'].apply(lambda x: str(x)[6:]+'-'+str(x)[3:6]+str(x)[:2])

In [48]:
cpi_df

            Date      CPI
0     1913-01-01    9.800
1     1913-02-01    9.800
2     1913-03-01    9.800
3     1913-04-01    9.800
4     1913-05-01    9.700
...          ...      ...
1296  2021-01-01  261.582
1297  2021-02-01  263.014
1298  2021-03-01  264.877
1299  2021-04-01  267.054
1300  2021-05-01  269.195

[1301 rows x 2 columns]

In [49]:
# Checking data types of cpi_df DataFrame
cpi_df.dtypes

Date     object
CPI     float64
dtype: object

In [50]:
# Converting 'Date' column data type to datetime
cpi_df['Date']= pd.to_datetime(cpi_df['Date'])

In [51]:
# Confirming 'Date' column data type is now datetime
cpi_df.dtypes

Date    datetime64[ns]
CPI            float64
dtype: object

In [52]:
cpi_df

           Date      CPI
0    1913-01-01    9.800
1    1913-02-01    9.800
2    1913-03-01    9.800
3    1913-04-01    9.800
4    1913-05-01    9.700
...         ...      ...
1296 2021-01-01  261.582
1297 2021-02-01  263.014
1298 2021-03-01  264.877
1299 2021-04-01  267.054
1300 2021-05-01  269.195

[1301 rows x 2 columns]

In [53]:
%store cpi_df

Stored 'cpi_df' (DataFrame)