In [2]:
import pandas as pd
import numpy as np

In [3]:
sp500_df = pd.read_csv('SP500.csv')

In [4]:
sp500_df

            DATE    SP500
0     2011-07-25  1337.43
1     2011-07-26  1331.94
2     2011-07-27  1304.89
3     2011-07-28  1300.67
4     2011-07-29  1292.28
...          ...      ...
2604  2021-07-16  4327.16
2605  2021-07-19  4258.49
2606  2021-07-20  4323.06
2607  2021-07-21  4358.69
2608  2021-07-22  4367.48

[2609 rows x 2 columns]

In [5]:
sp500_df.dtypes

DATE     object
SP500    object
dtype: object

In [13]:
sp500_df = sp500_df.rename(columns = {'DATE':'Date'})

In [9]:
sp500_df = sp500_df[sp500_df['SP500'] != '.']

In [10]:
sp500_df['SP500'] = pd.to_numeric(sp500_df['SP500'])

<ipython-input-10-b05aa205380e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_df['SP500'] = pd.to_numeric(sp500_df['SP500'])

In [14]:
sp500_df['Date'] = pd.to_datetime(sp500_df['Date'])

In [15]:
sp500_df

           Date    SP500
0    2011-07-25  1337.43
1    2011-07-26  1331.94
2    2011-07-27  1304.89
3    2011-07-28  1300.67
4    2011-07-29  1292.28
...         ...      ...
2604 2021-07-16  4327.16
2605 2021-07-19  4258.49
2606 2021-07-20  4323.06
2607 2021-07-21  4358.69
2608 2021-07-22  4367.48

[2516 rows x 2 columns]

In [16]:
sp500_df.dtypes

Date     datetime64[ns]
SP500           float64
dtype: object

In [17]:
%store sp500_df

Stored 'sp500_df' (DataFrame)